# Rust files
/target
**/*.rs.bk
*~
Cargo.lock
.criterion

# Library files
*.so

# Python files
*.egg-info
__pycache__
/env
*.pyc
dist
/build

# Editor files
.vscode
.ipynb_checkpoints
*~

# Generated documentation files
/python/doc/build
.idea/
venv/
/python/doc/source/_build
