# Rust files
/target
**/*.rs.bk
*~
Cargo.lock
.criterion

# Library files
*.so

# Python files
*.egg-info
__pycache__
/env
*.pyc

# Editor files
.vscode
.ipynb_checkpoints
*~

# Generated documentation files
/doc/build
.idea/
venv/
