# Rust files
/target
**/*.rs.bk
*~
Cargo.lock
.criterion

# Library files
*.so

# Python files
*.egg-info
__pycache__
*.pyc
dist
/build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor files
.vscode
.ipynb_checkpoints
*~
.idea/

# Generated documentation files
/python/doc/build
/python/doc/source/_build