[package]
name = "erdos"
version = "0.2.0"
authors = ["The ERDOS Team"]
edition = "2018"
default-run = "erdos"
license = "Apache"
readme = "README.md"
documentation = "https://docs.rs/erdos/0.2.0/erdos/"
repository = "https://github.com/erdos-project/erdos"
description = """
ERDOS is a platform for developing self-driving cars and robotics applications.
"""
keywords = ["data-flow", "robotics", "autonomos", "driving"]

[dependencies]
abomonation = "0.7.3"
abomonation_derive = "0.5.0"
async-trait = "0.1.18"
bincode = "1.1.4"
bytes = "0.4.12"
byteorder = "1.0.0"
clap = "2.33.0"
futures-preview = "=0.3.0-alpha.19"
futures-util-preview = "=0.3.0-alpha.19"
pyo3 = { version = "0.8.2", features=["unsound-subclass"] }
rand = "0.3"
serde = { version = "1.0.99", features = ["derive"] }
slog = "2.4.2"
slog-term = "2.4.2"
tokio = "=0.2.0-alpha.6"
tokio-serde-bincode = "0.2"
uuid = { version = "0.7", features = ["v4", "v5", "serde"] }

[dev-dependencies]
criterion = "0.1.2"

[features]
default = []
python = []  # Target python with 'cargo build --features=python

[lib]
crate-type=["rlib", "cdylib"]   # Required for python

[[bench]]
name = "erdos"
harness = false

[[bin]]
name = "experiment-throughput-driver"
path = "experiments/throughput_driver.rs"

[[bin]]
name = "experiment-throughput"
path = "experiments/throughput.rs"
